@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<hr />
<h1><p>Poprawnie uzupełniłeś dane </p></h1>
jak nie ma niz w zamowieniach to komunikat
dokonczyc wyswietlanie faktury w formacie pdf
problem jest z cena w koszyku jak usune produkt z koszyka to powinienem odjac cene tego produktuu
