@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<head>

</head>
<body>
    <div class="container">
        <div class="row text-center">
            <div class="col-12 textStyle"><hr /> ARA  <hr /></div>
        </div>
        <div class="row">
            <div class="col-md-4 "><img class="imgStyle" src="~/papuga.png" /> </div>
            <div class="col-md-4 "><img class="imgStyle" src="~/papuga.png" /> </div>
            <div class="col-md-4 "> <img class="imgStyle" src="~/papuga.png" /></div>
        </div>
        <div class="row text-center">
            <div class="col-12 textStyle"><hr /> KAKADU  <hr /></div>
        </div>
        <div class="row">
            <div class="col-md-4"><img class="imgStyle" src="~/papuga.png" /></div>
            <div class="col-md-4"><img class="imgStyle" src="~/papuga.png" /> </div>
            <div class="col-md-4"><img class="imgStyle" src="~/papuga.png" /></div>
        </div>
        <div class="row text-center">
            <div class="col-12 textStyle"><hr /> ŻAKO  <hr /></div>
        </div>
        <div class="row">
            <div class="col-md-4"> <img class="imgStyle" class="imgStyle" src="~/papuga.png" /></div>
            <div class="col-md-4"><img class="imgStyle" src="~/papuga.png" /> </div>
            <div class="col-md-4"><img class="imgStyle" src="~/papuga.png" /> </div>
        </div>
        <div class="row text-center">
            <div class="col-12 textStyle"><hr /> PAPUŻKI NIEROZŁĄCZKI  <hr /></div>
        </div>
        <div class="row">
            <div class="col-md-4"><img class="imgStyle" src="~/papuga.png" /></div>
            <div class="col-md-4"><img class="imgStyle" src="~/papuga.png" /> </div>
            <div class="col-md-4"> <img class="imgStyle" src="~/papuga.png" /></div>
        </div>
    </div>


</body>
</html>
