@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<hr />
<center>
    <p><h1>Zdjęcia naszych papug</h1></p>
</center>
<center>
    <br />
    <br />
    <hr />
    <h3>Ara</h3>
    <hr />
    <img width="350px" height="300px" src="https://thumbs.img-sprzedajemy.pl/1000x901c/fb/b9/1b/ara-ararauna-na-sprzedaz-malopolskie-krakow-517284277.jpg" />
    <img width="350px" height="300px" src="https://upload.wikimedia.org/wikipedia/commons/e/e7/Ara_ararauna_-Singapore_BirdPark-6.jpg" />
    <img width="350px" height="300px" src="https://img.pixers.pics/pho_wat(s3:700/FO/65/05/23/51/700_FO65052351_a80533888646b2b34ff5167c5e83f47d.jpg,467,700,cms:2018/10/5bd1b6b8d04b8_220x50-watermark.png,over,247,650,jpg)/fototapety-blue-and-zolty-ara-ara-ararauna.jpg.jpg" />
    <hr />
    <h3>Żako</h3>
    <hr />
    <img width="350px" height="300px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fe/Psittacus_erithacus_cucumber.jpg/800px-Psittacus_erithacus_cucumber.jpg" />
    <img width="350px" height="300px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/96/Graupapagei_%28Psittacus_erithacus_erithacus%29_-_Weltvogelpark_Walsrode_2011.jpg/800px-Graupapagei_%28Psittacus_erithacus_erithacus%29_-_Weltvogelpark_Walsrode_2011.jpg" />
    <img width="350px" height="300px" src="https://d-gr.ppstatic.pl/kadry/k/r/gr-ogl/09/ac/16976603_569499548_papuga-zako_xlarge.jpg" />
    <hr />
    <h3>Kakadu</h3>
    <hr />
    <img width="350px" height="300px" src="https://losyziemi.pl/wp-content/uploads/2019/07/S%C5%82ynna-papuga-kakadu-potrafi-sama-wymy%C5%9Bla%C4%87-nowe-ruchy-i-uk%C5%82ady-choreograficzne-do-muzyki-3.jpg" />
    <img width="350px" height="300px" src="https://rodzinnykompas.pl/wp-content/uploads/2019/03/Papugarnia-Kakadu-atrakcje-dla-dzieci-Poznan-Rodzinny-Kompas-3-%C5%9Aredni.jpg" />
    <img width="350px" height="300px" src="https://upload.wikimedia.org/wikipedia/commons/0/06/Cacatua_goffiniana_-captive-8a-3c.jpg" />
    <hr />
    <h3>Papużki nierozłączki</h3>
    <hr />
    <img width="350px" height="300px" src="https://www.zwierzosfera.pl/wp-content/uploads/2016/01/papuz%CC%87ki_nieroz%C5%82a%CC%A8czki.jpg" />
    <img width="350px" height="300px" src="https://thumbs.img-sprzedajemy.pl/1000x901c/7e/bf/9b/papuszki-nierozlaczki-40-raciborz-355907932.jpg" />
    <img width="350px" height="300px" src="https://lh3.googleusercontent.com/proxy/0ElBWN6GL91I8xK1i-JnFHBPfPyUMKGcd8a2WTDL79pyyBLNafq5-MlsuZrpVnFHUf_KN_SCYtowvd5eKkK0Q2-eVQ70E1Weat7sq27vpsvY6N3i8LTYJqpRvSfXCX4Bxl8JJ6QrpMxP4eNUag2_DK-5Kicvic-80JoqgmAnGE7Hr50MZzm0EZxEW4wGxLPTyC8H0g" />
    <br />
    <hr />
</center>