@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<hr />
<center>
    <h1>Nasza papugarnia istnieje od 2018 roku. Posiadamy wiele papug, które na pewno chciałbyś zobaczyć.</h1>
    <br />
    <br />
    <h4>
        Kontakt:<br />
        00-200 Warszawa<br />
        ul. Kwiaterska 46A <br />
        telefon: 111-222-333 <br />
        e-mail: papugarnia.Yellowstone@gmail.com <br />
        Dni wstępu: Poniedziałek - Niedziela 10.00 - 20.00 <br />
        W razie jakich kolwiek pytań zapraszam do kontaktu mailowego. <br />
    </h4>
</center>