@{
    ViewData["Title"] = "Home Page";
}
        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
          <br />
        </div>
    
<div class="bgim">
    <h1>Papugarnia Yellowstone</h1>
    <h3>ZAPRASZAMY!</h3><bR>
    <h4>Nasza papugarnia jest już dla was dostępna! Codziennie przez 6 dni w tygodniu !<br />
    Papugarnia Yellowstone znajduje się w .... na ulicy .... Poświęciliśmy wiele czasu oraz wysiłku aby ten projekt poswtał. Tak samo jak wy
    kochamy papugi. Dlatego postanowiliśmy stworzyć największą papugarnię w polsce. Jest to świetne miejsce na spędzenie wolnego czasu 
    samemu bądź ze znajomymi oraz rodziną. <br />
    Papugi są to nadzwyczaj przyjazne istoty. Dzięki naszej papugarni będziecie mieli szansę przekonania się tego na własne oczy. Dowiecie się 
    również wiele ciekawych informacji o każdym z gatunków naszych ptaków. Dla odważniejszych za niewielką dodatkową opłatą oferujemy karmienie naszych
    pupili. <br /><br /> Nie trać więcej czasu tylko wpadnij do nas! </h4> <br /><br /> <h2> Gwarantujemy niesamowitą zabawę i mile spędzony czas.</h2>
</div>