@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<hr />
<div>
    <center>
        <img src="https://st.depositphotos.com/1967477/2538/v/450/depositphotos_25389947-stock-illustration-smiley-emoticon-with-ok-sign.jpg" />
        <h1>Bilety zostały zamówione.</h1> <br />
        <h3>Serdecznie dziękujemy!</h3><br />
    </center>
</div>